body{
margin:0;
font-family:sans-serif;
background:#f5f7fa;
}

/* HEADER */
.header{
background:linear-gradient(135deg,#0b5ed7,#198754);
color:white;
padding:20px;
}

.buttons button{
padding:10px;
border:none;
border-radius:8px;
margin:5px;
color:white;
}

.call{background:#0b5ed7;}
.whatsapp{background:#25D366;}
.direction{background:#198754;}

.container{padding:15px;}

.hero{
background:white;
padding:15px;
border-radius:10px;
margin-bottom:10px;
}

.visit{color:#198754;font-weight:bold;}

.services{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:10px;
}

.card{
background:white;
padding:10px;
border-radius:10px;
text-align:center;
}

.card img{
width:100%;
height:100px;
object-fit:cover;
border-radius:8px;
}

.areas span{
background:#198754;
color:white;
padding:8px;
margin:5px;
display:inline-block;
border-radius:20px;
}

.gallery{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:10px;
margin-top:10px;
}

.gallery img{
width:100%;
height:120px;
border-radius:10px;
object-fit:cover;
}

.map iframe{
width:100%;
height:250px;
border:none;
border-radius:10px;
margin-top:10px;
}

.reviews{
margin-top:10px;
}

.review{
background:white;
padding:10px;
border-radius:10px;
margin-top:5px;
}

.price{
background:white;
padding:10px;
margin-top:10px;
border-radius:10px;
}

.price div{
display:flex;
justify-content:space-between;
}

.price h3{
margin-bottom:10px;
}

.price div{
padding:6px 0;
border-bottom:1px solid #eee;
}

.form{
margin-top:10px;
margin-bottom:80px;
}

.form input,.form textarea{
width:100%;
padding:10px;
margin-top:8px;
border-radius:8px;
border:1px solid #ccc;
}

.form button{
width:100%;
padding:12px;
background:#0b5ed7;
color:white;
border:none;
margin-top:10px;
border-radius:10px;
}

/* FLOAT */
.float{
position:fixed;
bottom:80px;
right:15px;
background:#25D366;
color:white;
padding:15px;
border-radius:50%;
}

/* FOOTER */
.footer{
position:fixed;
bottom:0;
width:100%;
display:flex;
}

.callbar{flex:1;background:#0b5ed7;color:white;padding:15px;}
.whatsappbar{flex:1;background:#25D366;color:white;padding:15px;}
